[submodule "wasteAPI"] 
  path = wasteAPI 
  url = https://github.com/lopugit/wasteAPI
[submodule "wasteAI"] 
  path = wasteAI 
  url = https://github.com/lopugit/wasteAI
[submodule "wasteBot"] 
  path = wasteBot 
  url = https://github.com/lopugit/wasteBot
[submodule "wasteScraper"] 
  path = wasteScraper 
  url = https://github.com/lopugit/wasteScraper
[submodule "wasteDB"]
	path = wasteDB
	url = https://github.com/lopugit/wasteDB
